{% extends "admin/base.html.twig" %}

{% block content %}
    <div class="row">
		<div class="col">
			<h1>Gestion des oeuvres</h1>

			{% include 'inc/flash.message.html.twig' %}

			<p class="text-right">
				<a href="{{ url('admin.oeuvre.form') }}" class="btn btn-primary">Ajouter</a>
			</p>
			<table class="table table-striped">
				<tr>
					<th>Nom</th>
					<th>Description</th>
					<th>Image</th>
					<th>Catégorie</th>
					<th></th>
				</tr>
				{% for result in results %}
					<tr>
						<td>{{ result.name }}</td>
						<td>{{ result.description | truncate(15, true) }}</td>
						<td class="w-25">
							<img src="{{ result.image }}" class="w-50" alt="">
						</td>
						<td>
							{{ result.categorie.name | capitalize }}
						</td>
						<td>
							<a href="{{ url('admin.oeuvre.form.update', { id: result.id } ) }}"
							   class="btn btn-warning">Modifier</a>
							{# {% if is_granted('ROLE_SUPER_ADMIN') %} #}
								<a href="{{ url('admin.oeuvre.remove', { id: result.id }) }}"
								   class="btn btn-danger">Supprimer</a>
							{# {% endif %} #}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}