{% extends "admin/base.html.twig" %}

{% block content %}
    <div class="row">
		<div class="col">
			<h1>Formulaire des expositions</h1>
			{{ form_start(form, { attr : { novalidate: 'novalidate' } }) }}
				<p>
					{{ form_label(form.name, 'Nom : ') }}
					{{ form_widget(form.name) }}
				</p>
				<p>
					{{ form_label(form.description, 'Description : ') }}
					{{ form_widget(form.description) }}
				</p>
				<p>
					{{ form_label(form.date, 'Date : ') }}
					{{ form_widget(form.date) }}
				</p>
				<p>
					{{ form_label(form.location, 'Lieu : ') }}
					{{ form_widget(form.location) }}
				</p>
				<p>
					<input type="submit" value="Valider" class="btn btn-primary">
				</p>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}