{% extends "admin/base.html.twig" %}

{% block content %}
    <div class="row">
		<div class="col">
			<h1>Gestion des expositions</h1>

			{% include 'inc/flash.message.html.twig' %}

			<p class="text-right">
				<a href="{{ url('admin.exposition.form') }}" class="btn btn-primary">Ajouter</a>
			</p>
			<table class="table table-striped">
				<tr>
					<th>Nom</th>
					<th>Description</th>
					<th>Date</th>
					<th>Lieu</th>
				</tr>
				{% for result in results %}
					<tr>
						<td>{{ result.name }}</td>
						<td>{{ result.description | truncate(15, true) }}</td>
						<td>
							{{ result.date | date('d-m-Y H:i:s') }}
						</td>
						<td>{{ result.location }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}