{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3>Oeuvres</h3>
        </div>
    </div>
    <div class="row">
		{% for result in results %}
			<div class="col-sm-3">
				<a href="{{ url('oeuvre.details', { id: result.id }) }}">
					<img src="{{ result.image }}" class="img-fluid" alt="">
				</a>
				<h4>{{ result.name }}</h4>
				<p>
					<a href="{{ url('oeuvre.details', { id: result.id }) }}" class="btn btn-primary">Consulter</a>
				</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}