{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
		<div class="col">
			<h1>Expositions à venir</h1>
            <p>Soyez présents !</p>
			<table class="table table-striped">
				<tr>
					<th>Nom</th>
					<th>Description</th>
					<th>Date</th>
					<th>Lieu</th>
				</tr>
				{% for result in results %}
					<tr>
						<td>{{ result.name }}</td>
						<td>{{ result.description }}</td>
						<td>
							{{ result.date | date('d-m-Y H:i:s') }}
						</td>
						<td>{{ result.location }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}