<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tito Salgado - Administration{% endblock %}</title>
        {# {% block stylesheets %}{% endblock %} #}
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>

    {% include 'inc/nav.html.twig' %}

    <div class="container">
		{# <div class="row"> #}
            {% block content %}{% endblock %}
        {# </div> #}
	</div>

        
        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}{% endblock %}
    </body>
</html>
