{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3>Accueil</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for result in results %}
                        {% set active = result == results|first ? "active" : "" %}
                        <li data-target="#carousel" data-slide-to="0" class="{{ active }}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for result in results %}
                        {% set active = result == results|first ? "active" : "" %}
                        <div class="carousel-item {{ active }}">
                            <img src="{{ result.image }}" alt="">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5><a href="{{ url('oeuvre.details', { id: result.id }) }}" class="btn btn-primary">{{ result.name }}</a></h5>
                                    {# <h5>{{ result.name }}</h5> #}
                                    <p>{{ result.description }}</p>
                                </div>
                        </div>
                    {% endfor %}
                </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
            </div>
        </div>
    </div>
        
    
{% endblock %}