{% extends "admin/base.html.twig" %}

{% block content %}
    <div class="row">
		<div class="col">
			<h1>Administration</h1>
			<p>
				<a href="{{ url('admin.oeuvre.index') }}">Gestion des oeuvres</a>
			</p>
			<p>
				<a href="{{ url('admin.exposition.index') }}">Gestion des expositions</a>
			</p>
		</div>
	</div>
{% endblock %}