<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url('homepage.index') }}">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url('oeuvre.index') }}">Oeuvres</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url('exposition.index') }}">Expositions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url('contact.form') }}">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url('mentionslegales.index') }}">Mentions légales</a>
  </li>
</ul>