<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url('homepage.index') }}">Tito Salgado</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url('homepage.index') }}">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Oeuvres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url('oeuvre.index') }}">Tout</a>
          <a class="dropdown-item" href="{{ url('oeuvre.categorie', { slug: 'peinture' }) }}">Peinture</a>
          <a class="dropdown-item" href="{{ url('oeuvre.categorie', { slug: 'dessin' }) }}">Dessin</a>
          <a class="dropdown-item" href="{{ url('oeuvre.categorie', { slug: 'sculpture' }) }}">Sculpture</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('exposition.index') }}">Expositions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('contact.form') }}">Contact</a>
      </li>
      {# {% if is_granted('ROLE_ADMIN') %} #}
				<li class="nav-item">
					<a class="nav-link" href="{{ url('admin.homepage.index') }}">Administration</a>
				</li>
			{# {% endif %} #}

			{# {% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ logout_url('main') }}">Déconnexion</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url('app_login') }}">Connexion</a>
				</li>
			{% endif %} #}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</nav>